language: php

sudo: false

env:
  global:
    - PREFER="--prefer-dist"

matrix:
    fast_finish: true
    include:
        - php: 5.5
          env: PREFER="--prefer-lowest"
        - php: 5.5
        - php: 5.6
        - php: 7.0
        - php: 7.1
        - php: 7.2

cache:
  directories:
    - $HOME/.composer/cache

before_script:
  - composer update --no-interaction $PREFER

script:
  - composer test
